<form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
        <input type="text"
               class="form-control"
               [class.is-valid]="form.get('title').valid"
               [class.is-invalid]="form.get('title').invalid && form.get('title').dirty"
               [formControlName]="'title'"
               placeholder="Название"
               >
        <div class="invalid-feedback">
            {{getErrorLog('title')}}
        </div>
        <div class="valid-feedback">
            хорошо
        </div>
    </div>
    <div class="form-group">
        <input type="text"
               formControlName="price"
               class="form-control"
               [class.is-valid]="form.get('price').valid"
               [class.is-invalid]="form.get('price').invalid && form.get('price').dirty"
               placeholder="Стоимость"
               >
        <div class="invalid-feedback">
            {{getErrorLog('price')}}
        </div>
        <div class="valid-feedback">
            Хорошо
        </div>
    </div>
    <div class="form-group">
        <input type="date"
               formControlName="date"
               class="form-control"
               id="date"
               name="date"
               placeholder="Дата">
    </div>
    <div class="form-group">
        <textarea class="form-control"
                  formControlName="comment"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Коментарий">
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit"
                [disabled]="form.get('price').invalid || form.get('title').invalid"
                class="btn btn-success btn-block">
            Готово
        </button>
    </div>
</form>
