<div class="card">
  <div class="card-header">
    Мой первый кошелек
  </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <p class="card-text m-0 pr-3">Ваши расходы за последнюю неделю</p>
            <button type="button"
                    class="btn btn-primary"
                    [class.btn-primary]="!isAddPurchaseOpen"
                    [class.btn-danger]="isAddPurchaseOpen"
                    (click)="toggleAdd($event)">
                {{isAddPurchaseOpen ? 'Отменить' : 'Добавить'}}
            </button>
        </div>
    </div>
    <div class="card-body" *ngIf="isAddPurchaseOpen">
        <tfs-add-purchase (addPurchase)="onAddPurchase($event)"></tfs-add-purchase>
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let purchase of purchases, let i = index">
        <tfs-purchase-preview (click)="onPreviewClick(i)"
                               [purchase]="purchase"
                                >
        </tfs-purchase-preview>
    </li>
  </ul>
  <div class="card-footer text-center">
      Итого: <strong>{{total | currency:'RUB' | money}}</strong>
  </div>
</div>
